<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="En esta sección se encuentran las obras compuestas por Diego López"
    />
    <meta name="keywords" content="dieguitarra, diegoLopez, obrasCompuestas" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="../img/favicon-dieguitarra.ico"
      type="image/vnd.microsoft.icon"
      sizes="TAMAÑO-FAV"
    />
    <link rel="stylesheet" href="../scss/style.css" />
    <title>Obras compuestas - Dieguitarra</title>
  </head>
  <body>
    <!--HEADER-->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"
          ><img
            src="../img/logo-dieguitarra-2.png"
            class="img-logo-nav img-fluid"
            alt="logo"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto align-items-center mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link links" aria-current="page" href="../index.html"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link links"
                aria-current="page"
                href="../views/sobre-mi.html"
                >Sobre mí</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link links"
                href="../views/clases-de-musica.html"
                tabindex="-1"
                aria-disabled="true"
                >Clases de música</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link links" href="../views/contacto.html"
                >Contacto</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link links"
                href="https://www.youtube.com/user/Musiqueeee"
                target="_blank"
                tabindex="-1"
                aria-disabled="true"
                >Canal de Youtube</a
              >
            </li>
          </ul>
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Buscar"
              aria-label="Search"
            />
            <button class="btn btn-outline-warning" type="submit">
              Buscar
            </button>
          </form>
        </div>
      </div>
    </nav>
    <!--FIN HEADER-->
    <!--MAIN-->
    <main>
      <!--SECTION 1-->
      <div>
        <h1 class="mx-auto text-center mb-4 pt-3 pb-3 mt-3">
          Obras Compuestas
        </h1>
        <section class="container">
          <div class="row">
            <div class="col-lg-5 col-sm-12 text-dark">
              <h2 class="d-flex justify-content-center mt-2 py-2">
                Sonata para piano
              </h2>
              <img
                src="../img/pianoObras.jpg"
                alt="sonata piano"
                class="imagenesObras d-flex mx-auto img-fluid"
              />
              <h5 class="py-2 d-flex justify-content-center">
                Sonata 1er mov.
              </h5>
              <audio
                src="../audios/sonata-1er-mov.mp3"
                controls
                class="d-flex mx-auto audioApariencia"
              ></audio>
              <h5 class="py-2 d-flex justify-content-center">
                Sonata 2do mov.
              </h5>
              <audio
                src="../audios/sonata-2do-mov.mp3"
                controls
                class="d-flex mx-auto audioApariencia"
              ></audio>
              <h5 class="py-2 d-flex justify-content-center">
                Sonata 3er mov.
              </h5>
              <audio
                src="../audios/sonata-3er-mov.mp3"
                controls
                class="d-flex mx-auto mb-5 audioApariencia"
              ></audio>
            </div>
            <div class="col-lg-5 offset-lg-2 col-lg-5 col-sm-12 text-dark">
              <h2 class="d-flex justify-content-center mt-2 py-2">
                Cuarteto de cuerdas
              </h2>
              <img
                src="../img/violinObras.jpg"
                alt="cuarteto cuerdas"
                class="imagenesObras d-flex mx-auto img-fluid"
              />
              <h5 class="py-2 d-flex justify-content-center">
                Cuarteto de cuerdas 1er mov.
              </h5>
              <audio
                src="../audios/cuarteto-de-cuerdas-I.mp3"
                controls
                class="audios d-flex mx-auto audioApariencia"
              ></audio>
              <h5 class="py-2 d-flex justify-content-center">
                Cuarteto de cuerdas 2do mov.
              </h5>
              <audio
                src="../audios/cuarteto-de-cuerdas-II.mp3"
                controls
                class="audios d-flex mx-auto audioApariencia"
              ></audio>
              <h5 class="py-2 d-flex justify-content-center">
                Cuarteto de cuerdas 3er mov.
              </h5>
              <audio
                src="../audios/cuarteto-de-cuerdas-III.mp3"
                controls
                class="audios mb-4 d-flex mx-auto mb-5 audioApariencia"
              ></audio>
            </div>
          </div>
        </section>
        <section class="container">
          <div class="row">
            <div class="col-lg-5 col-sm-12 text-dark">
              <h2 class="d-flex justify-content-center mt-2 py-2">
                Sexteto de cámara
              </h2>
              <img
                src="../img/sextetoObras.jpg"
                alt="sexteto cámara"
                class="imagenesObras d-flex mx-auto img-fluid"
              />
              <h5 class="py-2 d-flex justify-content-center">
                Sexteto de cámara 1er mov.
              </h5>
              <audio
                src="../audios/sexteto-de-camara-I.mp3"
                controls
                class="audios d-flex mx-auto audioApariencia"
              ></audio>
              <h5 class="py-2 d-flex justify-content-center">
                Sexteto de cámara 2do mov.
              </h5>
              <audio
                src="../audios/sexteto-de-camara-II.mp3"
                controls
                class="audios d-flex mx-auto audioApariencia"
              ></audio>
              <h5 class="py-2 d-flex justify-content-center">
                Sexteto de cámara 3er mov.
              </h5>
              <audio
                src="../audios/sexteto-de-camara-III.mp3"
                controls
                class="audios d-flex mx-auto audioApariencia"
              ></audio>
              <h5 class="py-2 d-flex justify-content-center">
                Sexteto de cámara 4to mov.
              </h5>
              <audio
                src="../audios/sexteto-de-camara-IV.mp3"
                controls
                class="audios d-flex mx-auto audioApariencia"
              ></audio>
              <h5 class="py-2 d-flex justify-content-center">
                Sexteto de cámara 5to mov.
              </h5>
              <audio
                src="../audios/sexteto-de-camara-V.mp3"
                controls
                class="audios d-flex mx-auto audioApariencia"
              ></audio>
              <h5 class="py-2 d-flex justify-content-center">
                Sexteto de cámara 6to mov
              </h5>
              <audio
                src="../audios/sexteto-de-camara-VI.mp3"
                controls
                class="audios d-flex mx-auto mb-5 audioApariencia"
              ></audio>
            </div>
            <adiv class="col-lg-5 offset-lg-2 col-lg-5 col-sm-12 text-dark">
              <h2 class="d-flex justify-content-center mt-2 py-2">Sinfonía</h2>
              <img
                src="../img/orquestaObras.jpg"
                alt="sinfonía"
                class="imagenesObras d-flex mx-auto img-fluid"
              />
              <h5 class="py-2 d-flex justify-content-center">
                Sinfonía 1er mov.
              </h5>
              <audio
                src="../audios/sinfonia-1er-mov.mp3"
                controls
                class="audios d-flex mx-auto audioApariencia"
              ></audio>
              <h5 class="py-2 d-flex justify-content-center">
                Sinfonía 2do mov.
              </h5>
              <audio
                src="../audios/sinfonia-2ndo-mov.mp3"
                controls
                class="audios d-flex mx-auto audioApariencia"
              ></audio>
              <h5 class="py-2 d-flex justify-content-center">
                Sinfonía 3er mov.
              </h5>
              <audio
                src="../audios/sinfonia-3er-mov.mp3"
                controls
                class="audios d-flex mx-auto mb-5 audioApariencia"
              ></audio>
            </adiv>
          </div>
        </section>
      </div>
      <!--FIN SECTION -->
      <!--SECTION 2-->
      <section>
        <div class="card w-50 mx-auto text-center mb-5 mt-3 border-dark">
          <div class="card-body">
            <h5 class="card-title text-center fw-bold">Música incidental</h5>
            <p class="card-text text-center">
              Aqui podremos apreciar dos composiciones musicales para cine,
              compuestas en el año 2018 en la Universidad Nacional de las Artes
              (UNA) para la cátedra de Música Incidental.
            </p>
          </div>
        </div>
        <div class="container mb-5">
          <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div class="card ratio ratio-16x9 mx-auto">
                <iframe
                  src="https://www.youtube.com/embed/mwr0BsL3YKU"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </div>
            </div>
            <div class="col">
              <div class="card ratio ratio-16x9 mx-auto">
                <iframe
                  src="https://www.youtube.com/embed/EKoH46Vxf64"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--FIN SECTION 2-->
    </main>
    <!--FOOTER-->
    <footer class="text-white pt-3 pb-3 mt-2">
      <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">
          <div class="col-md-12 col-lg-3 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold textos-con-color">
              Compañía Dieguitarra
            </h5>
            <p>
              Dieguitarra además de ser músico multi-instrumentista también es
              una compañía de desarrollo web independiente.
            </p>
          </div>
          <div class="col-md-12 col-lg-3 mx-auto mt-3">
            <h5
              id="Redes"
              class="text-uppercase mb-4 font-weight-bold textos-con-color"
            >
              Redes
            </h5>
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">
                <a
                  href="https://www.facebook.com/diego.lopez.33449"
                  target="blank_"
                  class="btn-floating btn-sm text-white"
                  style="font-size: 23px"
                  ><i class="fab fa-facebook"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a
                  href="https://twitter.com/musiqueeee"
                  target="blank_"
                  class="btn-floating btn-sm text-white"
                  style="font-size: 23px"
                  ><i class="fab fa-twitter"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a
                  href="https://www.instagram.com/dieguitarra/"
                  target="blank_"
                  class="btn-floating btn-sm text-white"
                  style="font-size: 23px"
                  ><i class="fab fa-instagram"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a
                  href="https://www.youtube.com/user/Musiqueeee"
                  target="blank_"
                  class="btn-floating btn-sm text-white"
                  style="font-size: 23px"
                  ><i class="fab fa-youtube"></i
                ></a>
              </li>
            </ul>
          </div>
          <div class="col-md-12 col-lg-3 mx-auto mt-3">
            <img
              src="../img/logo-dieguitarra-1.png"
              alt="logo"
              class="img-logo img-fluid"
            />
          </div>
          <div class="col-md-12 col-lg-3 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold textos-con-color">
              Contacto
            </h5>
            <p>
              <i class="fas fa-home mr-3"></i> Buenos Aires, Capital Federal
            </p>
            <p><i class="fas fa-envelope mr-3"></i> dieguitarra@gmail.com</p>
            <p><i class="fab fa-whatsapp mr-3"></i> +54 9 11 5903-0187</p>
          </div>
        </div>
        <hr class="mb-3" />
        <div class="row">
          <div class="col-12">
            <p class="my-2">
              Hecho en Argentina en 2021 por:<strong class="textos-con-color">
                Diego López</strong
              >
            </p>
          </div>
          <div>
            <a class="goToTop" href="#"> <i class="fas fa-arrow-up"></i></a>
          </div>
        </div>
      </div>
    </footer>
    <!--FIN FOOTER-->
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
    integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
    crossorigin="anonymous"
  ></script>
</html>
