<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="description" content="Conociendo un poco al artista" />
      <meta
        name="keywords"
        content="bio, diegoLopez, dieguitarra, carreraMusical"
        />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
        crossorigin="anonymous"
        />
      <link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
        crossorigin="anonymous"
        />
      <link rel="icon" href="../img/favicon-dieguitarra.ico" type="image/vnd.microsoft.icon" sizes="TAMAÑO-FAV">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="../scss/style.css" />
      <title>Sobre mí - Dieguitarra</title>
  </head>
  <body>
      <!--HEADER-->
      <nav class="navbar sticky-top navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="../img/logo-dieguitarra-2.png" class="img-logo-nav img-fluid" alt="logo"></a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarTogglerDemo02"
              aria-controls="navbarTogglerDemo02"
              aria-expanded="false"
              aria-label="Toggle navigation"
              >
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav me-auto align-items-center mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link links" aria-current="page" href="../index.html"
                        >Home</a
                        >
                  </li>
                  <li class="nav-item">
                    <a
                        class="nav-link links"
                        href="../views/obras-compuestas.html"
                        tabindex="-1"
                        aria-disabled="true"
                        >Obras compuestas</a
                        >
                  </li>
                  <li class="nav-item">
                    <a
                        class="nav-link links"
                        href="../views/clases-de-musica.html"
                        tabindex="-1"
                        aria-disabled="true"
                        >Clases de música</a
                        >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link links" href="../views/contacto.html">Contacto</a>
                  </li>
                  <li class="nav-item">
                    <a
                        class="nav-link links"
                        href="https://www.youtube.com/user/Musiqueeee"
                        target="_blank"
                        tabindex="-1"
                        aria-disabled="true"
                        >Canal de Youtube</a
                        >
                  </li>
              </ul>
              <form class="d-flex">
                  <input
                    class="form-control me-2"
                    type="search"
                    placeholder="Buscar"
                    aria-label="Search"
                    />
                  <button class="btn btn-outline-warning" type="submit">Buscar</button>
              </form>
            </div>
        </div>
      </nav>
      <!--FIN HEADER-->
      <!--MAIN-->
      <main>
        <div>
            <h1 class="text-center pt-5">Acerca del artista</h1>
        </div>
        <!--SECTION 1-->
        <div class="text-center ">
            <img class="img-fluid" src="../img/cuadro-fotos.jpg"  alt="foto bio">
        </div>
        <!--FIN SECTION 1-->
        <!--SECTION 2-->
        <section>
        <div class="container mt-3 ">
          <div class="row  p-2 rounded">
              <div class="col-md-6 texto-bio">Diego López es músico multi-instrumentista y compositor. Empezó a estudiar guitarra a los 14 años, luego piano y a los 19 años comenzó su formación académica en el Conservatorio Manuel de Falla en la especialidad de piano. Más tarde decidió incursionar también en la carrera de composición en simultáneo en la Universidad Nacional de las Artes (UNA). Luego de 3 años cambió de instrumento y empezó a estudiar fagot.  Actualmente toca el fagot en la Orquesta Estudiantil de Buenos Aires, en la Orquesta Municipial de José C. Paz y en la Orquesta del Conservatorio de la Ciudad (Astor Piazzolla). </div>
              <div class="col-md-6 texto-bio">Como compositor realizó una sonata para piano, variaciones de un tema de Shubert, un cuarteto de cuerdas, un sexteto de cámara y una sinfonía. Su último proyecto de composición lo está dedicando a una obra de cámara para 12 músicos. Como docente él dio clases a niños, adolescentes y adultos, de guitarra y piano durante más de 10 años. Además de la música, recientemente a descubierto una nueva pasión que es la programación y una curiosidad notable por poder entremezclar el mundo musical con el informático. </div>
            </div>
        </div>
        <!--FIN SECCION 2-->
      </main>
      <!--FOOTER-->
      <footer class="text-white pt-3 pb-3 mt-5">
        <div class="container text-center text-md-left">
            <div class="row text-center text-md-left">
              <div class="col-md-12 col-lg-3 mx-auto mt-3">
                  <h5 class="text-uppercase mb-4 font-weight-bold textos-con-color">
                    Compañía Dieguitarra
                  </h5>
                  <p>
                    Dieguitarra además de ser músico multi-instrumentista también es
                    una compañía de desarrollo web independiente.
                  </p>
              </div>
              <div class="col-md-12 col-lg-3 mx-auto mt-3">
                  <h5
                    id="Redes"
                    class="text-uppercase mb-4 font-weight-bold textos-con-color"
                    >
                    Redes
                  </h5>
                  <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        <a
                          href="https://www.facebook.com/diego.lopez.33449"
                          target="blank_"
                          class="btn-floating btn-sm text-white"
                          style="font-size: 23px"
                          ><i class="fab fa-facebook"></i
                          ></a>
                    </li>
                    <li class="list-inline-item">
                        <a
                          href="https://twitter.com/musiqueeee"
                          target="blank_"
                          class="btn-floating btn-sm text-white"
                          style="font-size: 23px"
                          ><i class="fab fa-twitter"></i
                          ></a>
                    </li>
                    <li class="list-inline-item">
                        <a
                          href="https://www.instagram.com/dieguitarra/"
                          target="blank_"
                          class="btn-floating btn-sm text-white"
                          style="font-size: 23px"
                          ><i class="fab fa-instagram"></i
                          ></a>
                    </li>
                    <li class="list-inline-item">
                        <a
                          href="https://www.youtube.com/user/Musiqueeee"
                          target="blank_"
                          class="btn-floating btn-sm text-white"
                          style="font-size: 23px"
                          ><i class="fab fa-youtube"></i
                          ></a>
                    </li>
                  </ul>
              </div>
              <div class="col-md-12 col-lg-3 mx-auto mt-3">
                  <img
                    src="../img/logo-dieguitarra-1.png"
                    alt="logo"
                    class="img-logo img-fluid"
                    />
              </div>
              <div class="col-md-12 col-lg-3 mx-auto mt-3">
                  <h5 class="text-uppercase mb-4 font-weight-bold textos-con-color">
                    Contacto
                  </h5>
                  <p>
                    <i class="fas fa-home mr-3"></i> Buenos Aires, Capital Federal
                  </p>
                  <p><i class="fas fa-envelope mr-3"></i> dieguitarra@gmail.com</p>
                  <p><i class="fab fa-whatsapp mr-3"></i> +54 9 11 5903-0187</p>
              </div>
            </div>
            <hr class="mb-3" />
            <div class="row">
              <div class="col-12">
                  <p class="my-2">
                    Hecho en Argentina en 2021 por:<strong class="textos-con-color">
                    Diego López</strong
                        >
                  </p>
              </div>
            </div>
        </div>
      </footer>
      <!--FIN FOOTER-->
  </body>
  <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
      integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
      crossorigin="anonymous"
      ></script>
  <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
      integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
      crossorigin="anonymous"
      ></script>
</html>